<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="../../css/admin/common.css" />
		<link rel="stylesheet" href="../../css/admin/tasktable.css" />
		<script src="../../js/jquery.min.js" ></script>
	</head>
<body>
<script>
	function changestate(id,state){
		if (confirm("确认要操作？")) {
        	aj.ajax({
			    type : "POST",
			    url : "changestate",
			    data : {id:id,state:state},
			    dataType: "json",
   				success : function(msg) {
					if(msg.state == 1){
						alert("成功");
						document.getElementById("audit").click();
					}
					
			    },
			    error:function(msg){ 
					alert("程序出错，请联系管理员");
			    }
			});
        }		
	}
	
	function changeRecommend(id,recommend){
		if (confirm("确认要操作？")) {
        	aj.ajax({
			    type : "POST",
			    url : "changeRecommend",
			    data : {id:id,recommend:recommend},
			    dataType: "json",
   				success : function(msg) {
					if(msg.state == 1){
						alert("成功");
						document.getElementById("audit").click();
					}
			    },
			    error:function(msg){ 
					alert("程序出错，请联系管理员");
			    }
			});
        }		
	}
	
</script>
<div  class="main_2" id="main_2">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="box fixed">
                    <div class="box-title fixed">
                        <h3> 商铺管理 </h3>
                    </div>
                     <div class="box-content_x_z fixed">
	                    <span #if($!state == 1) class="this" #end><a href="list?state=1">审核通过</a></span>
	                    <span #if($!state == 0) class="this" #end><a id="audit" href="list?state=0">申请审核</a></span>
	                    <span #if($!state == 2) class="this" #end><a href="list?state=2">拒绝申请</a></span>      
                    </div>
                    <div class="box-content_x fixed">
                    	<form action="../merchant/list" method="get">
                        <div class="form-horizontal">
                            <div class="serach_address"> 
                                <span>
                                	<input class="html_date" id="state" name="state" type="hidden" value="$!{state}"/>
                                	商家名称&nbsp;&nbsp;
                                    <input class="html_date" id="title" name="title" type="text" value="$!{title}"/>
                                </span> 


                                <span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<button id="uic_wtable_search_submit"  type="submit" class="btn btn-primary">查询</button>
                                </span> 
                            </div>
                        </div>
                        </form>
                    </div>
                    <div id="ui_alltasks" class="ui_wtable UI_task_table">
                        <table class="itable" width="100%" border="0" cellspacing="1" cellpadding="0">
                            <thead>
                              <tr>
                                <td>编号</td>
                                <td>商铺名称</td>
                                <td>商家账号</td>
                                <td>注册时间</td>
                                <td>入驻时间</td>
                                <td>商铺地址</td>
                                <td>详细地址</td>
                                <td>联系人</td>
                                <td>商户类型</td>
                                <td>操作</td>
                              </tr>
                            </thead>
                            <tbody>
                            	#foreach($member in $pageVo.list) 
                            	<tr>
                                    <td>$!member.id</td>
                                    <td>$!member.shopName</td>
                                    <td>$!member.accountName</td>
                                    <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!member.createTime)</td>
                                    <td>$!date.format('yyyy-MM-dd HH:mm:ss ',$!member.auditTime)</td>
                                    <td>$!member.provinceName $!member.cityName $!member.region</td>
                                    <td>$!member.address</td>
                                    <td>$!member.contacts</td>
                                    <td>#if($!member.merchantType == 0) 经销商 #else 批发商 #end</td>
                                    <td>
                                    #if($!member.auditState == 0)
                                    <a href="javascript:void(0)" onclick="changestate('$!member.id',1)">审核通过</a> | 
                                    <a href="javascript:void(0)" onclick="changestate('$!member.id',2)">拒绝</a>
                                    #else
                                    	#if($!member.recommend == 0)
                                    	<a href="javascript:void(0)" onclick="changeRecommend('$!member.id',1)">商铺首推</a>
                                    	#else
                                    	<a href="javascript:void(0)" onclick="changeRecommend('$!member.id',0)" style="color: red;">取消首推</a>
                                    	#end
                                    #end
                                    <br />
                                    <a href="/webadmin/order/orderListByMechantId?mechantid=$!member.id">查看订单</a>
                                    <a href="/webadmin/merchant/changePassword?mechantId=$!member.id">修改密码</a>
                                    </td>
                                </tr>
                                #end
                            </tbody>
                        </table>
                    </div>
					
					<div class="bontom_bon fixed">
                        <div class="page">
                        	$pageVo.pageNumHtml
    						<span class="page_z">第<em>$pageVo.pageNum</em>页，共<em>$pageVo.pageCount</em>页</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>